<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nowcoder.community.dao.DiscussPostMapper">
    
<!--    <resultMap id="discussPost" type="com.nowcoder.community.entity.DiscussPost">-->
<!--        <id property="id" column="id" javaType="int" jdbcType="INTEGER"></id>-->
<!--        <result property="userId" column="user_id" javaType="int" jdbcType="VARCHAR"></result>-->
<!--        <result property="title" column="title" javaType="String" jdbcType="VARCHAR"></result>-->
<!--        <result property="content" column="content" javaType="String" jdbcType="VARCHAR"></result>-->
<!--        <result property="type" column="type" javaType="int" jdbcType="INTEGER"></result>-->
<!--        <result property="status" column="status" javaType="int" jdbcType="INTEGER"></result>-->
<!--        <result property="createTime" column="create_time" javaType="Date" jdbcType="TIMESTAMP"></result>-->
<!--        <result property="commentCount" column="comment_count" javaType="int" jdbcType="INTEGER"></result>-->
<!--        <result property="score" column="score" javaType="double" jdbcType="DOUBLE"></result>-->
<!--    </resultMap>-->
    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>
    <sql id="insertFields">
         user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <select id="selectDiscussPosts"  resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
        order by type desc, create_time desc
        limit #{offset}, #{limit}
    </select>

    <select id="selectDiscussPostRows" resultType="int">
        select count(id)
        from discuss_post
        where status != 2
        <if test="userId!=0">
            and user_id = #{userId}
        </if>
    </select>

    <select id="countDiscussPostRows" resultType="int">
        select comment_count
        from discuss_post
        where status != 2
        <if test="id!=0">
            and id = #{id}
        </if>
    </select>

    <insert id="insertDiscussPost" parameterType="DiscussPost">
        insert into discuss_post(<include refid="insertFields"></include>)
        values (#{userId},#{title},#{content},#{type},#{status},#{createTime},#{commentCount},#{score})
    </insert>

    <select id="selectDiscussPostById" resultType="DiscussPost">
        select <include refid="selectFields"></include>
        from discuss_post
        where id = #{id}
    </select>

    <update id="updateCommentCount">
        update discuss_post set comment_count = #{commentCount} where id = #{id}
    </update>

</mapper>